//extends layout

style.
    h1  {
    color: purple;   
    }
    h2 {
        font-size: 22px;
        color: green;
    }

block content
    h1= title
    h3 #{welcome}
    h2 Close the window to proceed!!!